# Questo .gitignore ignora le cartelle pesanti e inutili, salvando le cose importanti!

# Unity cartelle auto-generate
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# File di cache e log
*.log
*.tmp
sysinfo.txt
crashlytics-build.properties

# File generati dall'editor di codice (Visual Studio / Rider)
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files for ignored files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Builds esportate (Non vogliamo caricare giga di build su github)
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Indirizzi pacchetti
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

# File spazzatura di sistema Mac/Windows
.DS_Store
.DS_Store.meta
._*
Thumbs.db
Thumbs.db.meta

# Regola speciale per ignorare la cartella Examples di TMP se ce l'hai s-tracciata
/Assets/TextMesh Pro/Examples & Extras/
/Assets/TextMesh Pro/Examples & Extras.meta
